@media only screen and (max-width: 1440px) {

}
@media only screen and (max-width: 1024px) {

    .container .container__content {
        max-width: 90%;
    }
    .container .footer .footer__form .footer__container {
        width: 90%;
    }
    
}
@media only screen and (max-width: 768px) {

    .container {

        .container__content {

            .content {

                .content__offer {
                    
                    .subOffer {
                        font-size: 16px;
                    }
                }
                .content__card {

                    .card{

                        &--main {
                            margin: 35px 0px 35px;

                            .card__preview {
                                align-items: flex-start;
                            }
                            .card__discription {
                                padding: 0px 0px 0px 37px;
                            }
                        }
                    }
                }

                .grid {
                    flex-wrap: wrap;

                    .grid__column {
                        width: 100%;
                        flex-direction: row;
                        position: relative;

                        .grid__item {

                            &--small {
                                margin-top: 40px!important;
                                width: 100%;
                            }
                            &--bigger {
                                width: 360px;
                                height: 200px;
                                margin-top: 40px!important;
                                display: flex;
                            }
                        }

                        &:nth-child(1) {

                            .grid__item {

                                &:nth-child(1) {
                                    width: 100%;
                                    position: absolute;
                                    justify-content: flex-start;
                                    margin-right: 0;
                                }
                                &:nth-child(3) {
                                    margin: 0;
                                }
                                &:nth-child(4) {
                                    margin-right: 0;
                                    margin-left: 18px;
                                }
                            }
                        }
                        &:nth-child(2) {

                            .grid__item {

                                &:nth-child(1) {
                                    position: absolute;
                                }
                                &:nth-child(2) {
                                    margin-right: 18px;
                                }
                                &:nth-child(4) {
                                    margin-left: 18px;
                                }
                            }
                        }
                        &:nth-child(3) {

                            .grid__item {

                                &:nth-child(1) {
                                    position: absolute;
                                    margin-left: 0px;
                                }
                                &:nth-child(2) {
                                    margin-right: 18px;
                                    margin-left: 0;
                                }
                                &:nth-child(3) {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
                &:nth-child(8) {
                    margin-bottom: 46px;
                }
            }
        }
        .footer {
            .footer__form {
                .footer__container {
                    .form {
                        .form__item {
                            &--checkbox {
                                width: 100%;
                                margin: 20px 0px;
                            }
                        }
                        .form__button {
                            margin: 40px 0px 30px!important;
                        }
                    }
                }
            }
        }
    }

}
@media only screen and (max-width: 425px) {

    .container {

        .container__content {

            .content {

                .content__offer {
                    
                    .subOffer {
                        font-size: 16px;
                        text-align: center;
                    }
                }
                .content__card {

                    .card{

                        &--main {
                            flex-wrap: wrap;
                            justify-content: center;
                            margin-top: 0px;

                            .card__preview {
                                justify-content: center;
                                order: 2;
                                margin-top: 30px;
                            }
                            .card__discription {
                                justify-content: center;
                                order: 1;
                                padding: 0;
                                margin-top: 20px;
                            }
                        }
                    }
                }

                .grid {
                    flex-wrap: wrap;

                    .grid__column {
                        width: 100%;
                        flex-direction: row;
                        position: relative;

                        .grid__item {

                            &--header {
                                margin-bottom: 0;
                            }
                            &--small {
                                height: 100px;
                            }
                            &--bigger {
                                margin: 20px 0px 20px!important;
                                justify-content: center;
                                padding: 10px 0px;
                            }
                            &:nth-child(2) {
                                margin: 40px 0px 0px!important;
                            }
                        }

                        &:nth-child(1) {

                            .grid__item {

                                &:nth-child(2) {
                                    margin: 40px 10px 20px 0px!important;
                                }
                                &:nth-child(3) {
                                    margin: 0
                                }
                                &:nth-child(4) {
                                    margin: 0px 0px 20px 10px;
                                }
                            }
                        }
                        &:nth-child(2) {
                            flex-direction: column;

                            .grid__item {

                                &:nth-child(1) {
                                    position: absolute;
                                }
                                &:nth-child(2) {
                                    margin: 0px;
                                    width: 100%;
                                }
                                &:nth-child(3) {
                                    margin: 0px;
                                    width: 100%;
                                }
                                &:nth-child(4) {
                                    margin: 0px 0px 20px!important;
                                    width: 100%;
                                }
                            }
                        }
                        &:nth-child(3) {
                            flex-direction: column;

                            .grid__item {

                                &:nth-child(1) {
                                    position: absolute;
                                }
                                &:nth-child(2) {
                                    margin: 0px;
                                    width: 100%;
                                    justify-content: center;
                                }
                                &:nth-child(3) {
                                    margin: 0px;
                                    width: 100%;
                                }
                                &:nth-child(4) {
                                    margin: 0px!important;
                                    width: 100%;
                                }
                            }
                        }
                    }
                }
                &:nth-child(4) {

                    .content__card {
                        flex-wrap: wrap;
                        justify-content: center;
                        margin-top: 30px;

                        .card {
                        
                            &--small {
                                width: 100%;
                                flex-direction: row;
                                margin: 10px 0px;

                                .card__preview {
                                    order: 2;
                                }
                                .card__discription {
                                    text-align: left;
                                    order: 1;
                                    margin: 0;
                                    padding: 0;
                                }

                                &:nth-child(2) {

                                    .card__preview {
                                        order: 1;
                                    }
                                    .card__discription {
                                        order: 2;
                                        text-align: right;
                                    }
                                }
                            }
                        }    
                    }
                }
                &:nth-child(8) {
                    margin-bottom: 26px;

                    .content__offer {

                        .offer--card {
                            text-align: right;
                        }
                    }
                }
                .content__list {
                    max-width: 90%;
                }
            }
        }
        .footer {
            .footer__title {
                font-size: 24px;
                margin: 40px 0px 40px;
            }
            .footer__form {
                .footer__container {

                    .form {
                        .form__button {
                            display: flex;
                            justify-content: center;
                        }
                        .form--container {
                            flex-direction: column;

                            .form__item {
                                margin: 0!important;

                                &:nth-child(2) {
                                    margin-top: 20px!important;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
}
@media only screen and (max-width: 375px) {

    .container {

        .container__content {

            .content {

                .content__offer {
                    
                    .offer {
                        font-size: 28px;

                        &--card {
                            font-size: 16px;
                        }
                    }
                    .subOffer {
                        font-size: 14px;
                    }
                }
                .content__card {

                    .card{

                        &--main {
            
                            .card__discription {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .grid {
                    flex-wrap: wrap;

                    .grid__column {
                        width: 100%;
                        flex-direction: row;
                        position: relative;

                        .grid__item {

                            &--bigger {
                                margin: 20px 0px 20px!important;
                                justify-content: center;
                                padding: 0px
                            }
                        }

                        &:nth-child(1) {
                            flex-direction: column;
                            
                            .grid__item {

                                &:nth-child(2) {
                                    margin-bottom: 10px!important;
                                }
                                &:nth-child(3) {
                                    margin: 10px 0px!important;
                                }
                                &:nth-child(4) {
                                    margin: 10px 0px 20px!important;
                                }
                            }
                        }
                    }
                }
                &:nth-child(8) {
                    margin-bottom: 26px;

                    .content__offer {

                        .offer--card {
                            text-align: right;
                        }
                    }
                }
                .content__list {
                    max-width: 90%;
                }
            }
        }
        .footer {
            .footer__title {
                font-size: 18px;
            }
        }
    }
    
}
@media only screen and (max-width: 320px) {

    .container {

        .container__content {

            .content {

                .content__offer {
                    
                    .offer {
                        font-size: 25px;

                        &--card {
                            font-size: 16px;
                        }
                    }
                    .subOffer {
                        font-size: 12px;
                    }
                }
                .content__card {

                    .card{

                        &--main {
            
                            .card__discription {
                                font-size: 16px;
                            }
                        }
                    }
                }

                .grid {
                    flex-wrap: wrap;

                    .grid__column {
                        width: 100%;
                        flex-direction: row;
                        position: relative;

                        .grid__item {

                            &--bigger {
                                margin: 20px 0px 20px!important;
                                justify-content: center;
                                padding: 0px
                            }
                        }

                        &:nth-child(1) {
                            flex-direction: column;
                            
                            .grid__item {

                                &:nth-child(3) {
                                    margin: 10px 0px!important;
                                }
                                &:nth-child(4) {
                                    margin: 10px 0px 20px!important;
                                }
                            }
                        }
                    }
                }
                &:nth-child(3) {
                    .content__offer {

                        .offer {

                            &--card {
                                font-size: 14px;
                            }
                        }
                    }
                    .content__card {

                        .card {

                            &--small {

                                .card__discription {
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
                &:nth-child(4) {
                    .content__offer {

                        .offer {

                            &--card {
                                font-size: 14px;
                            }
                        }
                    }
                    .content__card {
                        margin-top: 0px!important;

                        .card {

                            &--small {
                                flex-direction: column;
                                border-bottom: 1px solid #D8D8D8;
                                padding-bottom: 20px;

                                .card__preview {
                                    margin-top: 10px;
                                }
                                .card__discription {
                                    width: 100%;
                                    margin: 0!important;
                                    text-align: center;
                                    font-size: 15px;
                                    
                                    span {

                                        span {
                                            display: initial;
                                        }
                                    }
                                }

                                &:nth-child(2) {

                                    .card__preview {
                                        order: 2;
                                    }
                                    .card__discription {
                                        order: 1;
                                        text-align: center;
                                    }
                                }

                                &:nth-child(3) {
                                    border-bottom: none;
                                }
                            }
                        }
                    }
                }
                &:nth-child(8) {
                    margin-bottom: 26px;

                    .content__offer {

                        .offer--card {
                            font-size: 17px;
                            text-align: center;
                        }
                    }
                }
                .content__list {
                    max-width: 80%;
                }
            }
        }
    }
   
}